body{
      background-color:lightblue;
}
h3{
   font-weight:bold;
   font-family:new times roman;
   font-size:30px;
   color:black;
   background-color:blue;
   padding:0%;

}
p{
   color:blue;
   font-size:25px;
   background-color:lightblue;
}
h4{
   font-weight:bold;
   font-family:new times roman;
   font-size:30px;
   color:black;
   background-color:blue;
}
ul{
   color:blue;
   font-size:25px;
   background-color:lightblue;
}
ol{
   color:blue;
   font-size:25px;
   background-color:lightblue;
}
